image: "docker:dind"

stages: 
  - release

before_script:
  - docker login -u $PAUSER -p $PATOKEN registry.gitlab.com

variables:
  PLUGIN_NAME: koha-plugin-pay-via-paypal
  PLUGIN_EXT: kpz

build: 
  stage: release
  script:
    - docker run -v $(pwd):/plugin registry.gitlab.com/thekesolutions/tools/koha-plugin-builder
    - "UPLOAD_URL=$(curl --request POST --header \"PRIVATE-TOKEN: $PRIVATE_TOKEN\" --form \"file=${PLUGIN_NAME}-${CI_COMMIT_TAG	}.${PLUGIN_EXT}\" $CI_API_V4_URL/projects/$CI_PROJECT_ID/uploads | jq -r \".url\" )"
    - "curl --header \"Content-Type: application/json\" --header \"PRIVATE-TOKEN: $PRIVATE_TOKEN\" --data \"{ \\\"name\\\": \\\"${PLUGIN_NAME}\\\", \\\"tag_name\\\": \\\"$CI_COMMIT_TAG\\\", \\\"description\\\":  \\\"release $CI_COMMIT_TAG\\\", \\\"assets\\\": { \\\"links\\\": [{ \\\"name\\\": \\\"${PLUGIN_NAME}\\\", \\\"url\\\": \\\"$CI_PROJECT_URL$UPLOAD_URL\\\" }] } }\" --request POST $CI_API_V4_URL/projects/$CI_PROJECT_ID/releases"
  only:
    - tags
